aiortc==1.2.0
av==8.0.3
matplotlib
numpy==1.19.3
cython==0.29.23
opencv_python==4.5.1.48
streamlit==0.81.1
pillow==8.2.0
streamlit_webrtc==0.11.0
typing_extensions==3.7.4.3
mediapipe==0.8.3
tensorflow==2.4.1
scikit-image==0.17.2
